.myBG {
  height: 100vh;
  background: url("../public/assets/images/gamebg.jpg");
  background-size: cover;
  margin-top: -5em;
}

.intro {
  height: 30%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-weight: 800;

  line-height: 1;
  text-shadow: 2.5px 2.5px black;
}
